name: cicd
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
jobs:
  build-ubuntu:
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v2
    - name: setup
      run: sudo apt-get update && sudo apt-get -y -qq install clang-tidy cppcheck cflow spell gcc-powerpc64-linux-gnu gcc-powerpc-linux-gnu gcc-aarch64-linux-gnu gcc-i686-linux-gnu qemu-user-binfmt
    - name: test-main
      run: make LLVM_VERSION=14
      working-directory: .
    - name: bench-main
      run: make LLVM_VERSION=14 bench
      working-directory: .
    - name: test-multiplatform
      run: make test-multiplatform
      working-directory: .
    - name: test-cpp-translation-unit
      run: make LLVM_VERSION=14 test-cpp-translation-unit
      working-directory: .
    - uses: actions/upload-artifact@v3
      if: failure()
      with:
        name: buddy_alloc.h.gcov
        path: ./buddy_alloc.h.gcov
        if-no-files-found: warn
  build-windows:
    runs-on: windows-latest
    strategy:
      matrix:
        arch: [amd64, amd64_x86, amd64_arm, amd64_arm64]
    steps:
      - uses: actions/checkout@v2
      - uses: ilammy/msvc-dev-cmd@v1
        with:
          arch: ${{ matrix.arch }}
      - name: Build Windows target
        run: |
          cmake -G "NMake Makefiles" .
          nmake
      - name: Run Tests
        # Skip tests on ARM (cross-compilation)
        if: ${{ !contains( matrix.arch, 'amd64_arm' ) }}
        run: |
          ./buddy_tests
